version: "3"

services:
  scaler:
    image: {{ scaler_image_name }}:{{ scaler_provider }}-{{ scaler_version }}
    container_name: scaler
    hostname: scaler
    restart: always
    ports:
      - "{{ scaler_http_port }}:{{ scaler_http_port }}"
    env_file: {{ scaler_directory }}/.env
