# Environment files
env.d/ansible
env.d/packer
env.d/terraform

# Terraform local files
terraform/.terraform/
terraform/.terraform.tfstate.lock.info
terraform/terraform.tfstate*

# Ansible setup directories
ansible/dependencies/
ansible/env/
