#!/usr/bin/python

import web
import json
import os

class Status:
    def GET(self, args=None):
        service_status = 0
        ready_to_delete = True
        status = os.system("systemctl is-active --quiet {{ service_name }}")
        if status == 0:
            service_status = 1
            ready_to_delete = False
        return json.dumps({ "serviceStatus": service_status, "readyToDelete": ready_to_delete })

urls = ("/status", "Status")
app = web.application(urls, globals())

if __name__ == "__main__":
    app.run()
