# Openstack credentials
OS_AUTH_URL=https://auth.cloud.ovh.net/v3
OS_USERNAME=
OS_PASSWORD=
OS_REGION_NAME=SBG7
OS_PROJECT_DOMAIN_ID=default
OS_USER_DOMAIN_NAME=Default
OS_PROJECT_ID=
OS_PROJECT_NAME=
OS_INTERFACE=public
OS_IDENTITY_API_VERSION=3

# Image configuration variables
PKR_VAR_GW_HOST_SOURCE="Ubuntu 22.04"
PKR_VAR_GW_HOST_FLAVOR="d2-8"
PKR_VAR_GW_HOST_NETWORK_ID="b768bcd9-a7f0-44b6-923b-626eca465e4d"
PKR_VAR_GW_HOST_SSH_USERNAME="ubuntu"

PKR_VAR_KAMAILIO_SOURCE="Debian 11"
PKR_VAR_KAMAILIO_FLAVOR="s1-2"
PKR_VAR_KAMAILIO_NETWORK_ID="b768bcd9-a7f0-44b6-923b-626eca465e4d"
PKR_VAR_KAMAILIO_SSH_USERNAME="debian"

PKR_VAR_COTURN_SOURCE="Debian 11"
PKR_VAR_COTURN_FLAVOR="s1-2"
PKR_VAR_COTURN_NETWORK_ID="b768bcd9-a7f0-44b6-923b-626eca465e4d"
PKR_VAR_COTURN_SSH_USERNAME="debian"

PKR_VAR_SCALER_SOURCE="Debian 11"
PKR_VAR_SCALER_FLAVOR="s1-2"
PKR_VAR_SCALER_NETWORK_ID="b768bcd9-a7f0-44b6-923b-626eca465e4d"
PKR_VAR_SCALER_SSH_USERNAME="debian"
