# Coturn configuration variables
TF_VAR_coturn_name=coturn
TF_VAR_coturn_image_id=
TF_VAR_coturn_flavor_id=
TF_VAR_coturn_network_id=

# Kamailio configuration variables
TF_VAR_kamailio_name=kamailio
TF_VAR_kamailio_image_id=
TF_VAR_kamailio_flavor_id=
TF_VAR_kamailio_network_id=


### PROVIDERS CONFIGURATIONS ###

# Openstack credentials
OS_AUTH_URL=https://auth.cloud.ovh.net/v3
OS_USERNAME=
OS_PASSWORD=
OS_REGION_NAME=UK1
OS_PROJECT_DOMAIN_ID=default
OS_USER_DOMAIN_NAME=Default
OS_PROJECT_ID=
OS_PROJECT_NAME=
OS_INTERFACE=public
OS_IDENTITY_API_VERSION=3
